<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CaloteirosNuncaMais.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <CaloteirosNuncaMais.Forms.Properties.Settings>
            <setting name="Email" serializeAs="String">
                <value>filaucraft.eu@gmail.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>uelngqyrccbjqjig</value>
            </setting>
        </CaloteirosNuncaMais.Forms.Properties.Settings>
    </applicationSettings>
</configuration>